@model ManageTShirtModel;
<div class="row">
    <div class="col-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <img src="@Model.tShirt.ImageSrc" style="width:400px; height:400px;" />
        </div>
    </div>
    <div class="col-7">
         <div class="form-group">            
            <h4>@Model.tShirt.Style</h4>
        </div>
        <div class="form-group">
            <label asp-for="tShirt.Price" class="control-label">M.R.P.</label>
            <span>@("\u20B9" + Model.tShirt.Price)</span>
        </div>
        <div class="form-group">
            <label asp-for="tShirt.Size" class="control-label"></label>
            <span>@Model.tShirt.Size</span>
        </div>
        <div class="form-group">
            <label asp-for="tShirt.Color" class="control-label"></label>
            <div style="width:50px; height:50px; border-radius:30px; background-color:@Model.tShirt.Color"></div>
        </div>
        <div class="form-group">
            <label asp-for="tShirt.Made" class="control-label">Made in</label>
            <span>@Model.tShirt.Made</span>
        </div>
        <div class="form-group">
            <label asp-for="tShirt.Gender" class="control-label"></label>
            <span>@Model.tShirt.Gender</span>
        </div>             
    </div>
</div>
<div class="row">
    <div  class="col-12">
         <div class="form-group">
            <label asp-for="tShirt.Description" class="control-label"></label>
            <span>@Model.tShirt.Description</span>
        </div>
         <div class="form-group">
            <a asp-action="Save" asp-route-id=@Model.tShirt.Id>Edit</a> |
            <a class="Delete" href="javascript:;" onclick="callDelete(@Model.tShirt.Id)">Delete</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    function callDelete(deleteId)
    {
        event.stopPropagation();
        if (confirm("Do you want to delete this record?")) {
         $.ajax({
                type: "POST",
                url: "/Home/Delete/"+deleteId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                  window.location.href="/Home/Index"
                }
            }).done(function (response) {
           console.log(response)
            });
        }

    }
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>
